@model IEnumerable<AgentManagementSystem.Models.Consignee>

@{
    ViewBag.Title = "Index";
}

<h3 class="page-header">Search Consignee</h3>

<table class="table table-bordered table-hovered" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addresss)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <input type="submit" class="btn-warning" value="Edit" onclick="self.location= '/Consignees/Edit/@item.Id'" />
               
                    <input type="submit" class="btn-success" value="Details" onclick="self.location='/Consignees/Details/@item.Id'" />
        
                    <input type="submit" class="btn-danger" value="Delete" onclick="self.location='/Consignees/Delete/@item.Id'" />
                </td>
            </tr>
        }
    </tbody>

</table>
